<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="Karol" content="width=device-width, initial-scale=1">
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

body {
        background: #3D7EAA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eff30688, #024ff588);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eff30688, #024ff588); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
</head>

<body>
<h1 style="text-align:center">Dużo siły i miłości dla Ukrainy! Jesteśmy z wami.</h1>   
    <br>
    <h1 style="text-align:center">{{text}}</h1>
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Bogdan_Stupka.jpg" alt="Obrazek1" style="width:20%;">
    <br>
    <h4 style="text-align:center">{{text2}}</h4>
    <br>
</body>

</html>
